#dodaj-u-korpu-btn {
    position: absolute;
    top: 1.8rem;
    right: 1rem;
}

.baner {
    height: auto;
}

.linija {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin-top: 1rem;
}

.ocena {

    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    background: rgba(133, 129, 129, 0.85);
    padding: 6px 12px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    font-size: 1.4rem;
    color: white;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 6px;

}

.ocena-ikonica {

    color: gold;
    font-size: 1.6rem;

}
